
.container img {
  width: 100%;
  height:400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right:0px;
  z-index:+2;
}
#overim h1{
  z-index:+10;
  position:relative;
  font-weight: bolder;
  z-index:+10;
  font-weight: bolder;
  color: blue;
}
.overimg{
  opacity:0.7;
  height: 500px;
  background-color: white;
}
#overim p{
  position:relative;
  color: black;
}
 .planform input[type=text]{
    width: 70%;
    outline: none;
    padding: 10px 11px;
    border: 1px #aaa solid;
    font-size: 15px;
    background: #fff;
    display: block;
    margin: 20px auto;
}
.planform input[type=number]{
   width: 70%;
   outline: none;
   padding: 10px 11px;
   border: 1px #aaa solid;
   font-size: 15px;
   background: #fff;
   display: block;
   margin: 20px auto;
}

.planform textarea{
   width: 70%;
   outline: none;
   padding: 10px 11px;
   border: 1px #aaa solid;
   font-size: 15px;
   background: #fff;
   display: block;
   margin: 20px auto;
}

 .planform form
{
  margin: 10px auto;
  text-align: center;

}
 .planform{
  position: relative;
  width: 100%;
  background:#C0C0C0;
  box-shadow: 5px 4px 43px #000;
  top:-27%;
  size:cover;
  z-index: +20;
}
.planform div{
  width: 70%;
  outline: none;
  border: 1px #aaa solid;
  font-size: 20px;
  background: #fff;
  display: block;

}
.planform input[type=submit] {
width: 70%;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
left:1%;
position:relative;
padding: 10px 11px;
}

.planform input[type=submit]:hover {
background-color: #45a049;
}
#sidelink{
position: relative;
top: -65px;
left:550px;
}

@media screen and (max-width: 770px) {
  #idh1 {
    font-size:50px;
  }
  #overim p{
  	font-size: 16px;
  }
  #bottomcont{
  	position: relative;
  	top: -270px;
  }
}

@media screen and (min-width: 771px) {
  #idh1 {
    font-size: 60px;
  }
  #overim p{
  	font-size: 18px;
  }
  #bottomcont{
  	position: absolute;
  	top: 500px;
  }
}
